.is-active{
    background-color: #F1F1E8;
    color:#81B214 !important
}


.navbar{
    opacity: 0.8;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
}

.bg-light{
    background-color: #BFDCAE !important;
    color: #206A5D !important;
}
